[ng-drag].drag-over {
  border: solid 1px red;
}
[ng-drag].dragging {
  opacity: 0.5;
}
[ng-drop].drag-enter {
  border: solid 5px red;
}

.cursor-pointer{
  cursor: pointer;
}

.cursor-move{
  cursor: move;
}

.inactive {
  opacity: 0.75;
  text-decoration: line-through;
}